{% extends 'base.html' %}
<html>
{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'detail.css' %}">
{% endblock %}

{% block title %}
할일
{% endblock %}
{% block content %}
<div class="center">
    <h2 class="center jangjak">{{ todo.title }}</h2>
</div>
<br>
<div class="center">
    <div class="detail_body">
        <p>{{ todo.content }}</p>
        <br>
        <br>
        <br>
        <div class="due">작성자: {{ todo.author.username }} | 작성시간:{{ todo.written_time }} | 마감일: {{ todo.date }}
        </div>
        <hr>
        <div>
            {% if user.is_authenticated and todo.author.pk == user.pk %}
            <a href="{% url 'edit' todo.pk %}" class="button">수정하기</a>&nbsp;|
            <a href="{% url 'delete' todo.pk %}" class="button">삭제하기</a>&nbsp;|
            {% endif %}
            <a href="{% url 'home' %}" class="button">홈으로</a>
            {% if user.is_authenticated and my_like.count == 0 %}
            <button class="like_button" onclick="like(); change_color_like();">좋아요[비동기]</button>
            {% endif %}
            {% if user.is_authenticated and my_like.count != 0 %}
            <button class="like_button" style="color: red;" onclick="like(); change_color_like();">좋아요[비동기]</button>
            {% endif %}
            {% if user.is_authenticated and my_scrap.count == 0 %}
            <button class="scrap_button" onclick="scrap(); change_color_scrap();">스크랩</button>
            {% endif %}
            {% if user.is_authenticated and my_scrap.count != 0 %}
            <button class="scrap_button" style="color: orange;" onclick="scrap(); change_color_scrap();">스크랩</button>
            {% endif %}
            <div id="like_count">좋아요 {{ todo.likes.count }} 개</div>
            <div id="scrap_count">스크랩 {{ todo.scraps.count }} 개</div>

        </div>
    </div>
</div>
<br>
<div class="center left">
    <div>
        <form action="" method="POST">
            {% csrf_token %}
            <input type='text' id='content' name='content' placeholder='댓글을 입력하세요'>
            <button type="submit">댓글 달기</button>
        </form>
    </div>
</div>
<div class="left1">
    <div style="margin-left: 130px;">
        {% for comment in todo.comments.all %}
        <ul style="list-style: none;">
            <div class="flex">
                <li>{{ comment.content }}</li>
                <div style="display: flex; align-items: center;">
                    <p style="font-size: small; color: rgb(139, 143, 143);">작성자:{{ comment.author }}</p>
                    {% if user.is_authenticated and comment.author.pk == user.pk %}
                    <a href="{% url 'delete_comment' todo.pk comment.pk %}"
                        style="font-size: small; color: rgb(139, 143, 143);">&nbsp;|&nbsp;댓글삭제</a>
                    {% endif %}
                </div>
            </div>
        </ul>
        {% endfor %}
    </div>
</div>
<script>
    const like = () => {
        fetch('/like', {
            method: 'POST',
            body: JSON.stringify({ todo_pk: "{{ todo.pk }}"})
        })
        .then((response) => response.json())
        .then((response) => {
            const likeText = document.querySelector('#like_count');
            likeText.innerText = `좋아요 : ${response.like_count}개`;
        })
        .catch((e) => console.error(e))
    };
    const scrap = () => {
        fetch('/scrap', {
            method: 'POST',
            body: JSON.stringify({ todo_pk: "{{ todo.pk }}"})
        })
        .then((response) => response.json())
        .then((response) => {
            const scrapText = document.querySelector('#scrap_count');
            scrapText.innerText = `스크랩 : ${response.scrap_count}개`;
        })
        .catch((e) => console.error(e))
    };

    function change_color_like () {
        let likeElement = document.querySelector('.like_button');
        if (likeElement.style.color == 'red') {
            likeElement.style.color = '';
        } else {
            likeElement.style.color = 'red';
        }
    }
            

    function change_color_scrap () {
        let likeElement = document.querySelector('.scrap_button');
        if (likeElement.style.color == 'orange') {
            likeElement.style.color = '';
        } else {
            likeElement.style.color = 'orange';
        }

            
    }
    
</script>

</html>
{% endblock %}
