{% extends 'base.html' %}
{% block title %}
{{ user.username }}님의 활동
{% endblock %}
{% block content %}
<div class="center">
    <div>
        <h1>내 할일</h1>
        <ul>
            {% for todo in todos %}
            <li>
                <a href="{% url 'detail' todo.pk %}">{{ todo.title }} [남은 시간:{{ todo.date|timeuntil }}]</a>
            </li>
            {% endfor %}
        </ul>
        <h1>내 댓글</h1>
        <ul>
            {% for comment in comments %}
            <li>
                <a href="{% url 'detail' comment.todo.pk %}">{{ comment.content }}</a>
            </li>
{% endfor %}
        </ul>
            <h1>좋아하는 게시글</h1>
        <ul>
            {% for my_like in my_likes %}
            <li>
            <a href="{% url 'detail' my_like.todo.pk %}">{{ my_like.todo.title }}</a>
            </li>
            {% endfor %}
</ul>
            <h1>스크랩한 게시글</h1>
        <ul>
            {% for my_scrap in my_scraps %}
            <li>
            <a href="{% url 'detail' my_scrap.todo.pk %}">{{ my_scrap.todo.title }}</a>
            </li>
            {% endfor %}
</ul>
    </div>
</div>
{% endblock content %}