<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pangolin&family=Raleway:ital,wght@1,200&display=swap"
        rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'detail.css' %}">
</head>

<body>
    <div>
        <h2>Name: {{ todo.title }}</h2>
    </div>
    <div class="body">
        <p>{{ todo.content }}</p>
    </div>
    <div class="due">due date!!! {{ todo.date }}
    </div>

    <a href="{% url 'edit' todo.pk %}" class="button">수정하기</a>
    <a href="{% url 'delete' todo.pk %}" class="button">삭제하기</a>
    <a href="{% url 'home' %}" class="button">홈으로</a>
</body>

</html>