<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pangolin&family=Raleway:ital,wght@1,200&display=swap"
        rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'edit.css' %}">
</head>

<body>
    <form action="" method="POST">
        {% csrf_token %}
        <h1>Edit</h1>
        <div>
            <label for="title">Name: </label>
            <input type="text" id="title" name="title" value="{{ todo.title }}" />
        </div>
        <br>
        <div>
            <label for="content">Content </label>
            <br>
            <textarea id="content" name="content" cols=50 rows="20">{{ todo.content }}</textarea>
        </div>
        <div>
            <input type="datetime-local" name="date" id="date" value="{{ todo.date }}" />
            <button type="submit">Revise</button>
        </div>
        <a href="{% url 'home' %}" class>Home</a>
    </form>
</body>

</html>