<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="" method="POST">
        {% csrf_token %}
        <div>
            <label for="title">일정: </label>
            <input type="text" id="title" name="title" value="{{ todo.title }}" />
        </div>
        <div>
            <label for="content">내용 </label><br>
            <textarea id="content" name="content" cols=15 rows="10">{{ todo.content }}</textarea>
        </div>
        <div>
            <input type="date" name="date" id="date" value="{{ todo.date }}" />
        </div>
        <button type="submit">수정하기</button>
        <a href="{% url 'home' %}">홈으로</a>
    </form>
</body>

</html>