{% extends 'base.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'detail.css' %}">
{% endblock %}

{% block title %}
할일
{% endblock %}
{% block content %}
<div class="center">
    <h2 class="center jangjak">{{ todo.title }}</h2>
</div>
<br>
<div class="center">
    <div class="detail_body">
        <p>{{ todo.content }}</p>
        <br>
        <br>
        <br>
        <div class="due">작성자: {{ todo.author.username }} | 작성시간:{{ todo.written_time }} | 마감일: {{ todo.date }}
        </div>
        <hr>
        <span id="menu" onclick="toggle()">펼쳐</span>
        <div id="items" style="display: none;">
            {% if user.is_authenticated and todo.author.pk == user.pk %}
            <a href="{% url 'edit' todo.pk %}" class="button items">수정하기</a>&nbsp;|
            <a href="{% url 'delete' todo.pk %}" class="button items">삭제하기</a>&nbsp;|
            {% endif %}
        </div>

        <a href="{% url 'home' %}" class="button">홈으로</a>
    </div>
</div>
<br>
<div class="center left">
    <div>
        <form action="" method="POST">
            {% csrf_token %}
            <input type='text' id='content' name='content' placeholder='댓글을 입력하세요'>
            <button type="submit">댓글 달기</button>
        </form>
    </div>
</div>
<div class="left1">
    <div style="margin-left: 130px;">
        {% for comment in todo.comments.all %}
        <ul style="list-style: none;">
            <div class="flex">
                <li>{{ comment.content }}</li>
                <div style="display: flex; align-items: center;">
                    <p style="font-size: small; color: rgb(139, 143, 143);">작성자:{{ comment.author }}</p>
                    {% if user.is_authenticated and comment.author.pk == user.pk %}
                    <a href="{% url 'delete_comment' todo.pk comment.pk %}"
                        style="font-size: small; color: rgb(139, 143, 143);">&nbsp;|&nbsp;댓글삭제</a>
                    {% endif %}
                </div>
            </div>
        </ul>
        {% endfor %}
    </div>
</div>
<script type="text/javascript">
    function toggle() {
        if (document.getElementById('items').style.display === 'block') {
            document.getElementById('items').style.display = 'none';
            document.getElementById('menu').textContent = '펼쳐';
        }

        else {
            document.getElementById('items').style.display = 'block';
            document.getElementById('menu').textContent = '숨겨';
        }
    }
</script>

{% endblock %}